<div class="player-container">

    <!-- VIDEO PRINCIPAL -->
    <div class="video-area">
        <video 
            controls 
            [src]="aulaSelecionada?.video"
            class="video-player"
        ></video>
    </div>

    <!-- SIDEBAR LATERAL -->
    <div class="sidebar">

        <h3 class="curso-nome">{{ curso?.nome }}</h3>
        <p class="curso-desc">{{ curso?.descricao }}</p>

        <div class="aulas-lista">

            <div 
                class="aula-item"
                *ngFor="let aula of aulas"
                [class.ativa]="aulaSelecionada?.id === aula.id"
                (click)="selecionarAula(aula)">
                <div class="left">
                    <span class="numero">Aula {{ aula.id }}</span>
                    <span class="titulo ms-2">{{ aula.titulo }}</span>
                </div>

                <div class="right">
                    <span class="duracao">{{ aula.duracao }}</span>
                </div>
            </div>

        </div>

        <button class="btn-voltar" (click)="voltar()">
            Voltar ao Curso
        </button>

    </div>

</div>
