<div class="carousel-wrapper">

  <!-- SETA ESQUERDA -->
  <button class="btn-arrow left" (click)="scrollLeft()">
    <i class="bi bi-chevron-left"></i>
  </button>

  <!-- CONTAINER ROLÁVEL COM DRAG -->
  <div 
    class="grid"
    #container
    (mousedown)="dragStart($event)"
    (mousemove)="dragMove($event)"
    (mouseup)="dragStop()"
    (mouseleave)="dragStop()"
  >

    <app-item
      *ngFor="let item of items; let i = index"
      [data]="item"
      [isSelected]="i === selectedIndex">
    </app-item>

  </div>

  <!-- SETA DIREITA -->
  <button class="btn-arrow right" (click)="scrollRight()">
    <i class="bi bi-chevron-right"></i>
  </button>

</div>
