<div class="bg-wrapper">

  <!-- camada animada -->
  <div class="bg-fade" 
       [style.backgroundImage]="'url(' + cursoAtual?.bg + ')'">
  </div>

  <!-- conteúdo fixo -->
  <div class="content-wrapper">

    <mat-card class="example-card">
      <span>{{ cursoAtual?.nome || 'Selecione um curso' }}</span>

      <mat-card-actions>
        <button class="btn-start" matButton (click)="irParaView()">
          <i class="bi bi-play-fill"></i>
          Começar
        </button>

        <button class="btn-info" matButton (click)="irParaView(true)">
          <i class="bi bi-info-circle"></i>
          Detalhes
        </button>
      </mat-card-actions>

    </mat-card>

    <app-d-rows></app-d-rows>

  </div>

</div>
