<div class="bg-black">
    <app-navbar *ngIf="showNavbar"></app-navbar>

    <router-outlet></router-outlet>

<div class="session-backdrop" *ngIf="showSessionModal">
    <div class="session-modal">
        <div class="modal-icon">
            <i class="bi bi-shield-exclamation"></i>
        </div>
        
        <h2>Novo acesso detectado</h2>
        
        <p class="desc">
            Sua conta foi conectada em outro dispositivo. 
            Por segurança, esta sessão foi encerrada.
        </p>

        <div *ngIf="msgRecuperacao" class="alert-box">
            {{ msgRecuperacao }}
        </div>

        <div class="modal-actions" *ngIf="!msgRecuperacao">
            <button class="btn-primary" (click)="irParaLogin()">
                Ok, fui eu
            </button>
            
            <button class="btn-secondary" (click)="enviarRecuperacao()" [disabled]="loadingRecuperacao">
                {{ loadingRecuperacao ? 'Enviando...' : 'Não fui eu! Proteger conta' }}
            </button>
        </div>
    </div>
</div>
</div>