.circle-wrapper {
  width: 140px;
  height: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
}

circle.bg {
  stroke: #ffffffad;
}

circle.progress {
  stroke: #33ad0e; // laranja igual sua referência
  transition: stroke-dashoffset 0.8s ease;
}

.center-text {
  position: absolute;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
